<a href="https://colab.research.google.com/github/SAMMOSES26/task-7/blob/main/DataPreprocessing_Assignment11_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Data.csv

**Step 1: Importing the libraries**

In [35]:
import pandas as pd # handle the data
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

**Step 2: Importing dataset**

In [3]:
df=pd.read_csv("Data.csv")
df.head(11)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [4]:
df.shape

(10, 4)

In [5]:
df=df.drop_duplicates()

In [6]:
df.dtypes

Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [7]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [29]:
df.describe()

             Age        Salary  Purchased
count   8.000000      8.000000   8.000000
mean   38.625000  65250.000000   0.500000
std     8.210403  12232.859729   0.534522
min    27.000000  48000.000000   0.000000
25%    33.750000  57000.000000   0.000000
50%    37.500000  64000.000000   0.500000
75%    45.000000  73750.000000   1.000000
max    50.000000  83000.000000   1.000000

In [28]:
iqr=df['Age'].quantile(0.75) - df['Age'].quantile(0.25)
upper_threshold=df['Age'].quantile(0.75) + (1.5 * iqr)
lower_threshold=df['Age'].quantile(0.25) - (1.5 * iqr)
upper_threshold,lower_threshold

(61.875, 16.875)

In [30]:
iqr=df['Salary'].quantile(0.75) - df['Salary'].quantile(0.25)
upper_threshold=df['Salary'].quantile(0.75) + (1.5 * iqr)
lower_threshold=df['Salary'].quantile(0.25) - (1.5 * iqr)
upper_threshold,lower_threshold

(98875.0, 31875.0)

In [31]:
iqr=df['Purchased'].quantile(0.75) - df['Purchased'].quantile(0.25)
upper_threshold=df['Purchased'].quantile(0.75) + (1.5 * iqr)
lower_threshold=df['Purchased'].quantile(0.25) - (1.5 * iqr)
upper_threshold,lower_threshold

(2.5, -1.5)

**Step 3: Handling the missing data**

In [32]:
df = df.dropna()

In [33]:
df

   Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
5   France  35.0  58000.0          1
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1

**Step 4: Encoding categorical data**

In [34]:
from sklearn.preprocessing import LabelEncoder
# encoding Purchased column
encoder=LabelEncoder()
encoder.fit(df['Purchased'])
df['Purchased'] = encoder.transform(df['Purchased'])
df

   Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
5   France  35.0  58000.0          1
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1

**Step 5: Creating a dummy variable**

In [16]:
one_hot = pd.get_dummies(df,columns = ["Country"]) #one hot encoding
one_hot

    Age   Salary  Purchased  Country_France  Country_Germany  Country_Spain
0  44.0  72000.0          0               1                0              0
1  27.0  48000.0          1               0                0              1
2  30.0  54000.0          0               0                1              0
3  38.0  61000.0          0               0                0              1
5  35.0  58000.0          1               1                0              0
7  48.0  79000.0          1               1                0              0
8  50.0  83000.0          0               0                1              0
9  37.0  67000.0          1               1                0              0

**Step 6: Splitting the datasets into training sets and Test sets**

In [23]:
X = one_hot.drop(columns=['Purchased'])
y = one_hot['Purchased']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
y_test

1    1
7    1
Name: Purchased, dtype: int64

**Step 7: Feature Scaling**

In [36]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [39]:
X_train,X_test

(array([[ 0.77771377,  0.63897659,  1.        , -0.70710678, -0.4472136 ],
        [-0.31108551,  0.12088746,  1.        , -0.70710678, -0.4472136 ],
        [-1.39988479, -1.22614427, -1.        ,  1.41421356, -0.4472136 ],
        [-0.62217102, -0.81167297,  1.        , -0.70710678, -0.4472136 ],
        [-0.15554275, -0.50081949, -1.        , -0.70710678,  2.23606798],
        [ 1.7109703 ,  1.77877267, -1.        ,  1.41421356, -0.4472136 ]]),
 array([[-1.86651305, -1.84785122, -1.        , -0.70710678,  2.23606798],
        [ 1.39988479,  1.36430137,  1.        , -0.70710678, -0.4472136 ]]))