<a href="https://colab.research.google.com/github/SAMMOSES26/task-7/blob/main/KNN_Assignment13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [129]:
#Social_Networks_Ads.csv

**Importing the libraries**

In [130]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [131]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler ## standrard scalig
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score # import all the functions reqd for cross validation

**Importing the dataset**

In [132]:
df = pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [133]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [134]:
df.dtypes

User ID             int64
Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [135]:
df=df.drop_duplicates()

In [136]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [137]:
df = df.drop('User ID', axis=1)
df.head()

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [138]:
iqr=df['Age'].quantile(0.75) - df['Age'].quantile(0.25)
upper_threshold=df['Age'].quantile(0.75) + (1.5 * iqr)
lower_threshold=df['Age'].quantile(0.25) - (1.5 * iqr)
upper_threshold,lower_threshold

(70.375, 5.375)

In [139]:
iqr=df['EstimatedSalary'].quantile(0.75) - df['EstimatedSalary'].quantile(0.25)
upper_threshold=df['EstimatedSalary'].quantile(0.75) + (1.5 * iqr)
lower_threshold=df['EstimatedSalary'].quantile(0.25) - (1.5 * iqr)
upper_threshold,lower_threshold

(155500.0, -24500.0)

In [140]:
# encode
dfT=df
dfT["Gender"] = df["Gender"].map({"Male" : 0, "Female" : 1})
# df['Gender'] = df['Gender'].map({"Male" : 0, "Female": 1})

In [141]:
dfT

     Gender  Age  EstimatedSalary  Purchased
0         0   19            19000          0
1         0   35            20000          0
2         1   26            43000          0
3         1   27            57000          0
4         0   19            76000          0
..      ...  ...              ...        ...
395       1   46            41000          1
396       0   51            23000          1
397       1   50            20000          1
398       0   36            33000          0
399       1   49            36000          1

[400 rows x 4 columns]

**Splitting the dataset into the Training set and Test set**

In [142]:
X = dfT[['Gender','Age','EstimatedSalary']].values
y = dfT['Purchased'].values
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3)

**Feature Scaling**

In [143]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [160]:
X_train

array([[ 0.94440028,  0.56031846, -0.93919505],
       [ 0.94440028, -0.07929958,  0.28352656],
       [ 0.94440028, -0.81029164,  0.372994  ],
       [ 0.94440028,  0.19482244, -0.312923  ],
       [ 0.94440028, -1.81540571, -0.79008265],
       [-1.05887304, -1.81540571, -0.55150283],
       [-1.05887304, -1.6326577 ,  0.46246143],
       [ 0.94440028,  0.74306647, -1.44617717],
       [-1.05887304, -0.62754362, -0.13398813],
       [-1.05887304, -0.2620476 , -0.93919505],
       [ 0.94440028,  1.01718849, -1.02866248],
       [ 0.94440028, -0.90166564, -0.46203539],
       [ 0.94440028,  0.83444048, -0.58132531],
       [-1.05887304,  1.01718849,  0.46246143],
       [-1.05887304, -0.53616962, -1.56546709],
       [-1.05887304,  1.38268452,  0.04494673],
       [ 0.94440028, -0.44479561, -0.58132531],
       [ 0.94440028,  0.74306647,  0.76068621],
       [-1.05887304, -0.07929958,  2.19216517],
       [-1.05887304, -0.99303965,  0.55192886],
       [-1.05887304, -1.08441366, -1.14795239],
       [ 0.94440028,  1.83955455,  0.73086373],
       [-1.05887304,  0.19482244, -0.40239044],
       [-1.05887304,  0.74306647,  0.25370408],
       [-1.05887304, -1.81540571,  0.34317152],
       [ 0.94440028,  0.28619644,  0.04494673],
       [ 0.94440028, -0.81029164,  0.372994  ],
       [ 0.94440028, -0.07929958,  0.67121878],
       [-1.05887304, -1.7240317 , -0.01469822],
       [ 0.94440028,  1.74818055, -1.32688726],
       [ 0.94440028, -0.62754362, -1.65493452],
       [-1.05887304,  1.74818055, -0.312923  ],
       [-1.05887304, -1.26716167,  0.40281647],
       [-1.05887304, -1.17578766,  0.58175134],
       [-1.05887304, -0.2620476 , -0.37256796],
       [-1.05887304,  1.93092856,  1.77465047],
       [ 0.94440028,  0.74306647,  0.34317152],
       [-1.05887304,  0.10344843,  1.53607064],
       [ 0.94440028, -0.62754362, -0.07434318],
       [-1.05887304, -0.71891763,  0.49228391],
       [-1.05887304, -0.07929958,  0.19405913],
       [-1.05887304,  0.10344843,  1.05891099],
       [ 0.94440028, -0.17067359,  0.13441417],
       [-1.05887304,  0.83444048, -1.50582213],
       [ 0.94440028,  0.65169247, -0.76026018],
       [-1.05887304,  0.74306647,  0.52210639],
       [ 0.94440028, -0.90166564, -0.34274548],
       [ 0.94440028,  2.02230257, -0.7304377 ],
       [ 0.94440028,  0.01207442,  1.26766834],
       [-1.05887304, -1.7240317 , -1.35670974],
       [ 0.94440028, -0.99303965,  0.76068621],
       [ 0.94440028, -1.26716167, -0.46203539],
       [ 0.94440028,  1.65680654,  0.99926604],
       [-1.05887304,  0.19482244, -0.16381061],
       [ 0.94440028, -0.2620476 ,  0.01512426],
       [ 0.94440028, -0.17067359, -0.22345557],
       [-1.05887304, -0.3534216 ,  1.3273133 ],
       [-1.05887304,  1.47405853, -0.01469822],
       [ 0.94440028, -1.35853568, -0.67079274],
       [-1.05887304, -0.07929958, -0.55150283],
       [ 0.94440028, -1.6326577 , -1.02866248],
       [-1.05887304,  1.56543253, -0.93919505],
       [ 0.94440028,  1.1085625 , -1.02866248],
       [ 0.94440028, -1.54128369, -0.07434318],
       [ 0.94440028, -0.99303965, -0.37256796],
       [ 0.94440028, -0.17067359, -0.49185787],
       [ 0.94440028, -0.99303965, -0.40239044],
       [ 0.94440028, -0.90166564, -0.79008265],
       [-1.05887304, -0.90166564,  0.55192886],
       [ 0.94440028, -0.62754362,  0.55192886],
       [-1.05887304, -1.08441366, -1.62511204],
       [-1.05887304, -1.35853568, -1.50582213],
       [ 0.94440028, -0.07929958, -0.40239044],
       [-1.05887304,  1.93092856,  2.16234269],
       [-1.05887304, -0.81029164,  0.13441417],
       [-1.05887304,  1.65680654, -0.312923  ],
       [-1.05887304, -0.2620476 ,  0.04494673],
       [-1.05887304,  0.74306647, -0.34274548],
       [ 0.94440028, -0.3534216 ,  0.04494673],
       [ 0.94440028, -1.08441366, -0.55150283],
       [-1.05887304, -0.2620476 , -1.29706478],
       [ 0.94440028,  0.83444048, -0.70061522],
       [ 0.94440028, -1.08441366,  1.41678073],
       [ 0.94440028,  1.83955455, -1.4163547 ],
       [-1.05887304,  0.28619644, -0.76026018],
       [ 0.94440028, -0.99303965, -1.17777487],
       [ 0.94440028,  1.93092856, -0.84972761],
       [-1.05887304, -1.26716167, -0.37256796],
       [ 0.94440028,  2.02230257,  1.11855595],
       [-1.05887304,  0.19482244,  0.01512426],
       [ 0.94440028,  1.38268452, -1.08830744],
       [ 0.94440028, -0.90166564,  0.40281647],
       [-1.05887304,  0.46894446,  1.74482799],
       [ 0.94440028,  0.28619644,  0.28352656],
       [ 0.94440028,  0.83444048, -1.20759735],
       [ 0.94440028,  1.93092856, -1.23741983],
       [ 0.94440028, -1.6326577 ,  0.34317152],
       [ 0.94440028,  1.38268452,  2.16234269],
       [ 0.94440028, -1.08441366,  0.04494673],
       [ 0.94440028, -1.26716167, -1.29706478],
       [-1.05887304, -0.62754362,  0.16423665],
       [ 0.94440028,  1.38268452,  0.34317152],
       [-1.05887304,  0.01207442, -0.58132531],
       [-1.05887304,  1.01718849,  0.52210639],
       [ 0.94440028, -0.99303965,  0.40281647],
       [-1.05887304, -0.2620476 ,  0.52210639],
       [-1.05887304, -0.07929958, -0.01469822],
       [ 0.94440028,  0.28619644,  0.04494673],
       [-1.05887304, -1.7240317 , -1.53564461],
       [ 0.94440028,  0.74306647, -1.14795239],
       [ 0.94440028, -1.44990968, -1.29706478],
       [-1.05887304, -1.17578766, -1.44617717],
       [ 0.94440028, -1.08441366,  0.40281647],
       [ 0.94440028, -1.26716167,  0.55192886],
       [-1.05887304,  0.19482244, -0.28310053],
       [ 0.94440028,  1.29131051,  2.0132303 ],
       [ 0.94440028,  0.92581449, -1.05848496],
       [ 0.94440028, -1.7240317 , -1.47599965],
       [ 0.94440028, -0.81029164, -1.26724231],
       [ 0.94440028,  0.37757045,  0.13441417],
       [-1.05887304, -0.99303965,  0.52210639],
       [-1.05887304, -0.2620476 , -0.46203539],
       [-1.05887304,  0.74306647,  1.38695825],
       [-1.05887304,  2.02230257, -1.08830744],
       [-1.05887304, -0.2620476 , -0.96901752],
       [ 0.94440028, -1.81540571,  0.46246143],
       [ 0.94440028,  0.28619644,  0.01512426],
       [ 0.94440028, -0.44479561,  1.26766834],
       [-1.05887304, -0.53616962,  1.47642569],
       [ 0.94440028,  1.38268452,  0.99926604],
       [ 0.94440028,  0.10344843,  1.89394038],
       [-1.05887304, -1.54128369,  0.04494673],
       [ 0.94440028, -1.44990968, -0.22345557],
       [-1.05887304,  2.02230257,  0.93962108],
       [-1.05887304,  0.28619644,  0.04494673],
       [-1.05887304, -0.62754362,  0.10459169],
       [-1.05887304, -0.81029164,  0.28352656],
       [-1.05887304,  0.28619644,  0.25370408],
       [-1.05887304,  1.83955455,  2.19216517],
       [ 0.94440028,  1.93092856,  0.16423665],
       [ 0.94440028,  0.83444048,  1.26766834],
       [-1.05887304, -1.17578766, -1.11812991],
       [-1.05887304, -0.17067359,  1.62553808],
       [ 0.94440028, -0.53616962,  2.37110003],
       [ 0.94440028, -0.90166564,  0.49228391],
       [ 0.94440028, -0.3534216 , -1.35670974],
       [-1.05887304,  0.10344843,  0.01512426],
       [ 0.94440028,  1.1085625 , -0.79008265],
       [ 0.94440028,  0.10344843,  0.01512426],
       [ 0.94440028, -0.71891763, -0.25327805],
       [ 0.94440028,  0.92581449,  2.0132303 ],
       [ 0.94440028,  0.65169247,  1.80447295],
       [-1.05887304, -1.44990968, -1.56546709],
       [ 0.94440028, -0.2620476 ,  0.19405913],
       [-1.05887304,  0.83444048, -1.08830744],
       [-1.05887304, -0.62754362, -0.37256796],
       [ 0.94440028, -0.2620476 , -0.312923  ],
       [ 0.94440028, -0.90166564, -0.99884   ],
       [ 0.94440028,  0.10344843, -0.34274548],
       [ 0.94440028,  1.83955455, -0.70061522],
       [ 0.94440028, -0.07929958, -1.11812991],
       [-1.05887304, -0.2620476 ,  1.11855595],
       [ 0.94440028, -0.44479561,  2.34127756],
       [-1.05887304,  0.28619644,  0.49228391],
       [-1.05887304, -0.3534216 ,  1.23784586],
       [-1.05887304,  0.83444048, -1.35670974],
       [-1.05887304,  0.65169247, -1.32688726],
       [-1.05887304,  0.92581449,  0.58175134],
       [-1.05887304,  0.10344843,  1.89394038],
       [-1.05887304, -0.81029164, -0.81990513],
       [ 0.94440028, -0.2620476 , -1.35670974],
       [ 0.94440028, -0.2620476 ,  0.79050869],
       [-1.05887304,  1.01718849,  0.10459169],
       [-1.05887304,  1.01718849,  0.55192886],
       [-1.05887304,  0.37757045, -0.16381061],
       [ 0.94440028, -1.6326577 ,  0.34317152],
       [-1.05887304,  0.37757045, -0.49185787],
       [-1.05887304, -1.7240317 ,  0.43263895],
       [-1.05887304, -0.2620476 ,  0.13441417],
       [ 0.94440028,  0.19482244,  2.13252021],
       [-1.05887304,  2.02230257,  0.372994  ],
       [ 0.94440028,  1.29131051,  1.29749082],
       [ 0.94440028,  1.56543253,  1.77465047],
       [-1.05887304,  0.37757045,  0.99926604],
       [ 0.94440028, -0.44479561, -0.0445207 ],
       [ 0.94440028,  0.56031846,  2.04305277],
       [-1.05887304, -1.08441366, -1.20759735],
       [ 0.94440028,  0.37757045,  0.28352656],
       [ 0.94440028, -1.44990968, -0.46203539],
       [-1.05887304,  1.65680654,  1.86411791],
       [ 0.94440028,  0.37757045,  1.11855595],
       [-1.05887304, -1.7240317 ,  0.16423665],
       [-1.05887304,  0.01207442, -0.34274548],
       [ 0.94440028,  0.92581449, -1.20759735],
       [-1.05887304,  0.92581449,  0.10459169],
       [-1.05887304, -1.17578766,  0.28352656],
       [-1.05887304, -1.44990968,  0.31334904],
       [ 0.94440028, -0.17067359, -0.61114779],
       [ 0.94440028,  0.10344843, -0.28310053],
       [-1.05887304, -0.17067359, -1.11812991],
       [ 0.94440028, -0.71891763,  1.35713578],
       [ 0.94440028, -0.44479561, -0.87955009],
       [-1.05887304, -0.81029164, -0.81990513],
       [ 0.94440028,  1.74818055, -1.11812991],
       [ 0.94440028, -1.08441366, -1.65493452],
       [-1.05887304,  0.19482244,  0.2238816 ],
       [-1.05887304, -1.17578766,  0.25370408],
       [-1.05887304, -0.99303965, -0.37256796],
       [ 0.94440028,  1.93092856,  0.372994  ],
       [ 0.94440028,  1.56543253,  1.62553808],
       [-1.05887304, -0.3534216 , -0.81990513],
       [ 0.94440028,  0.10344843,  0.25370408],
       [-1.05887304, -1.26716167, -1.53564461],
       [ 0.94440028, -0.99303965,  1.98340782],
       [-1.05887304, -1.54128369,  0.52210639],
       [-1.05887304,  0.92581449, -1.11812991],
       [-1.05887304, -0.81029164,  2.31145508],
       [-1.05887304, -0.2620476 , -1.50582213],
       [ 0.94440028,  0.28619644, -0.312923  ],
       [ 0.94440028,  0.65169247, -1.44617717],
       [ 0.94440028, -0.07929958,  1.98340782],
       [-1.05887304, -0.2620476 , -0.34274548],
       [-1.05887304, -1.26716167, -1.4163547 ],
       [-1.05887304, -0.07929958, -0.52168035],
       [ 0.94440028,  0.37757045,  0.58175134],
       [ 0.94440028, -0.2620476 , -0.79008265],
       [ 0.94440028,  1.74818055,  1.53607064],
       [-1.05887304, -0.07929958,  0.25370408],
       [ 0.94440028,  0.01207442, -0.61114779],
       [ 0.94440028,  0.74306647,  0.10459169],
       [-1.05887304,  0.19482244, -0.70061522],
       [ 0.94440028,  0.83444048,  1.08873347],
       [-1.05887304,  0.92581449, -1.11812991],
       [ 0.94440028,  0.01207442, -0.16381061],
       [-1.05887304, -1.17578766,  0.49228391],
       [ 0.94440028,  1.1085625 , -1.50582213],
       [ 0.94440028, -0.2620476 , -1.4163547 ],
       [-1.05887304,  0.65169247, -1.44617717],
       [-1.05887304, -0.07929958,  0.10459169],
       [ 0.94440028,  0.01207442,  1.23784586],
       [ 0.94440028,  0.83444048,  2.19216517],
       [-1.05887304,  0.83444048, -1.4163547 ],
       [-1.05887304,  0.10344843,  0.19405913],
       [ 0.94440028, -1.35853568, -0.13398813],
       [-1.05887304,  0.65169247,  0.25370408],
       [ 0.94440028,  1.19993651,  1.89394038],
       [-1.05887304, -0.07929958,  0.13441417],
       [ 0.94440028,  0.92581449,  0.76068621],
       [-1.05887304,  0.37757045,  0.07476921],
       [-1.05887304, -1.35853568, -0.22345557],
       [ 0.94440028, -0.2620476 , -0.61114779],
       [ 0.94440028,  1.29131051, -1.47599965],
       [ 0.94440028,  0.10344843,  0.07476921],
       [-1.05887304, -0.2620476 , -0.61114779],
       [-1.05887304,  0.10344843, -0.84972761],
       [-1.05887304,  0.19482244, -0.40239044],
       [-1.05887304, -0.2620476 ,  0.07476921],
       [ 0.94440028, -0.2620476 ,  0.04494673],
       [-1.05887304, -1.26716167, -0.46203539],
       [ 0.94440028, -1.08441366, -1.05848496],
       [ 0.94440028,  0.19482244,  0.13441417],
       [ 0.94440028,  0.92581449,  1.44660321],
       [-1.05887304, -1.08441366,  0.46246143],
       [ 0.94440028, -0.07929958, -0.25327805],
       [ 0.94440028, -0.81029164, -0.70061522],
       [ 0.94440028,  1.19993651,  2.25181012],
       [-1.05887304,  0.19482244, -0.34274548],
       [-1.05887304,  1.74818055,  0.10459169],
       [ 0.94440028,  0.74306647, -0.87955009],
       [-1.05887304, -0.99303965,  0.58175134],
       [ 0.94440028, -0.53616962,  1.38695825],
       [-1.05887304,  0.65169247, -1.14795239],
       [-1.05887304,  1.01718849, -1.26724231],
       [-1.05887304,  0.28619644, -0.55150283],
       [ 0.94440028, -0.07929958,  0.28352656],
       [ 0.94440028, -0.99303965, -1.59528957],
       [ 0.94440028,  0.46894446,  1.86411791],
       [ 0.94440028, -0.2620476 , -0.16381061],
       [ 0.94440028,  1.47405853,  0.99926604],
       [ 0.94440028,  1.83955455,  0.9097986 ]])

**Fitting K-NN to the Training set**

In [144]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier() # jus k=5 value randomly given by me not found by n-fold cross val
knn.fit(X_train,y_train)
# knn.score(x_test,y_test) #accuracy

KNeighborsClassifier()

In [145]:
for i in [1,2,3,4,5,6,7,8,9,10,20,50]:
  knn = KNeighborsClassifier(i) #initialising the model
  knn.fit(X_train,y_train) # training the model
  print("K value  : " , i, " train score : ", knn.score(X_train,y_train) , " cv score : ", np.mean(cross_val_score(knn, X_train, y_train, cv=10, scoring = "roc_auc"))) #predicting using the model

K value  :  1  train score :  1.0  cv score :  0.8299999999999998
K value  :  2  train score :  0.9142857142857143  cv score :  0.9033333333333333
K value  :  3  train score :  0.925  cv score :  0.913888888888889
K value  :  4  train score :  0.9035714285714286  cv score :  0.9305555555555557
K value  :  5  train score :  0.9107142857142857  cv score :  0.9327777777777777
K value  :  6  train score :  0.9071428571428571  cv score :  0.9283333333333333
K value  :  7  train score :  0.9071428571428571  cv score :  0.9252777777777779
K value  :  8  train score :  0.9071428571428571  cv score :  0.9319444444444445
K value  :  9  train score :  0.9107142857142857  cv score :  0.9399999999999998
K value  :  10  train score :  0.9107142857142857  cv score :  0.9391666666666666
K value  :  20  train score :  0.8964285714285715  cv score :  0.9488888888888889
K value  :  50  train score :  0.7857142857142857  cv score :  0.9419444444444445

**Predicting the Test set results**

In [148]:
y_pred=knn.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 0])

**Making the Confusion Matrix**

In [158]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[76,  1],
       [27, 16]])